<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Modern eCommerce{% endblock head_title %}</title>
    {% include "base-static-files/style.html" %}
</head>
<body>
    {% include "base/navbar.html" %}
    
    <div class="container mx-auto mt-4 min-h-screen">
        {% block content %}

        {% endblock content %}
    </div>
    {% include "base/footer.html" %}
    {% include "base-static-files/js.html" %}
</body>
</html>